<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 display-container hide-small" id="home">
  <img
    src="/images/clouds.png"
    style="position: absolute"
    class="image"
    alt="clouds"
    height="100%"
  />

  <span
    class="text-black wide1 display-bottommiddle2 center"
    style="white-space:nowrap;"
    ><h1 class="xxxlarge">HOME CARE</h1></span
  >
  <span
    class="xlarge text-black wide display-bottommiddle3 center"
    style="white-space:nowrap;"
    ><h3>FOR A SAFER HOME OF TOMORROW</h3></span
  >

  <img
    src="/images/eon%20logo.png"
    style="position: absolute"
    class="display-eon"
    alt="layer"
    height="50px"
  />
  <img
    src="/images/safe.png"
    style="position: absolute"
    class="display-safe"
    alt="safe"
    height="40%"
  />
  <img
    src="/images/bottomlayer.png"
    style="position: absolute"
    class="display-layer"
    alt="layer"
    height="100%"
  />

  <div class="text-black display-bottommiddle4" style="white-space:nowrap;">
    <a href="#explanation">
      <i class="fas fa-chevron-down hvr-icon-hang xxlarge"></i>
    </a>
  </div>

  <div class="text-black xlarge display-user center">
    <a class="right text-black" href="/user/login">
      <i class="fas fa-sign-in-alt">&nbsp;&nbsp;</i>LOG IN
    </a>
  </div>
</div>

<div class="bgimg-1 display-container hide-large" id="home">
  <img
    src="/images/clouds_m.png"
    style="position: absolute"
    class="display-bottommiddle1"
    alt="clouds"
    height="50%"
  />

  <span
    class="text-black display-bottommiddle2 center"
    style="white-space:nowrap;"
    ><h1>HOME CARE</h1></span
  >
  <span
    class="text-black display-bottommiddle3 center"
    style="white-space:nowrap;"
    ><p>FOR A SAFER HOME OF TOMORROW</p></span
  >

  <img
    src="/images/eon%20logo.png"
    style="position: absolute"
    class="display-eon1"
    alt="layer"
    height="20px"
  />
  <img
    src="/images/safe_m.png"
    style="position: absolute"
    class="display-safe1"
    alt="safe"
    height="25%"
  />
  <img
    src="/images/bottomlayer.png"
    style="position: absolute"
    class="display-layer"
    alt="layer"
    height="100%"
  />

  <div class="text-black display-bottommiddle44" style="white-space:nowrap;">
    <a href="#explanation">
      <i class="fas fa-chevron-down hvr-icon-hang xlarge"></i>
    </a>
  </div>

  <div class="text-black xlarge display-user center">
    <a class="right text-black" href="/user/login">
      <i class="fas fa-sign-in-alt">&nbsp;&nbsp;</i>LOG IN
    </a>
  </div>
</div>

<!-- Container (explanation Section) -->
<div class="content container padding-32" id="explanation">
  <h4 class="center text-colora">EMERGENCY UPDATES</h4>
  <p align="justify" class="center hide-small">
    PROVIDE ANYONE WHO IS INTERESTED IN THE WELL-BEING OF AN ELDERLY OR DISABLED
    PERSON WITH A SMART AND INVISIBLE SOLUTION FOR THEIR HOME TO TAKE CARE 24/7.
    CHOOSE BETWEEN THE FOLLOWING CHANNELS TO RECEIVE EMERGENCY UPDATES:
  </p>
  <p align="justify" class="hide-large">
    PROVIDE ANYONE WHO IS INTERESTED IN THE WELL-BEING OF AN ELDERLY OR DISABLED
    PERSON WITH A SMAR AND INVISIBLE SOLTION FOR THEIR HOME TO TAKE CARE 24/7.
    CHOOSE BETWEEN THE FOLLOWING CHANNELS TO RECEIVE EMERGENCY UPDATES:
  </p>
  <br />

  <div class="row-padding center">
    <div class="col l4">
      <p>EMERGENCY CALL</p>
      <img
        src="/images/Emergency%20call.png"
        style="width:80%"
        alt="emergency call"
      /><br /><br /><br />
    </div>

    <div class="col l4">
      <p>EMERGENCY SMS</p>
      <img
        src="/images/Emergency%20SMS.png"
        style="width:80%"
        alt="emergency SMS"
      /><br /><br /><br /><br />
    </div>

    <div class="col l4">
      <p>EMERGENCY WHATSAPP</p>
      <img
        src="/images/Emergency%20WA.png"
        style="width:80%"
        alt="emergency WA"
      />
    </div>
  </div>
  <br /><br /><br />
</div>

<!-- Footer -->
<footer class="center black padding-64 opacity">
  <a href="#home" class="round button light-grey"
    ><i class="fa fa-arrow-up margin-right"></i>To the top</a
  >
</footer>
